*{
    font-family: Arial;
}
body{
    background-color: rgb(181, 173, 173);
}

.container{
    background-color: #24232b;
    padding: 24px;
    width: 70%;
    margin: 5%;
    border: 5px solid #358f8f;
}

.header{
    color:white;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;

}
button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #358f8f;
    color:white;
    font-weight: 700;
    cursor: pointer;
}

.copyBtn{
    height: 50px;
    font-size: 20px;
    padding: 15px;
}
.copyBtn:hover{
    background-color: #057373;
}

.charlength{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 24px;
}

.charlength span{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding-bottom:24px ;
}

.checkboxes{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.checkboxes div{
    display: flex;
    gap:5px;
    padding-bottom:25px ;
}

.generateBtn{
    width :100%;
    font-size: 20px;
    padding: 20px;
}

.errormsg{
    color:red;
    padding-bottom:5px ;
}
.password-strength{

    width: 100%;
    padding-bottom: 12px;
    color: white;
}

